@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

:root {
    --primary: #222831;
    --secondary: #00ADB5;
    --text: #393E46;
    --off-white: #F3F4F6;
    --svg-secondary-filter: invert(51%) sepia(67%) saturate(2685%) hue-rotate(147deg) brightness(93%) contrast(101%);
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text);
    text-align: center;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3 {
    color: var(--secondary);
}
.container h2, .container h3 {
    color: black
}



.header span {
    color: var(--primary);
}

.off-white {
    background-color: var(--off-white);
}

.links {
    text-decoration: none;
    color: var(--secondary);

}

.icons {
    max-width: 40px;
}

.svg {
    filter: var(--svg-secondary-filter);
}
nav {
    background-color: var(--primary);
    margin: 0 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--secondary);
    
}

.nav-heading {
    text-align: left;
    margin-top: 0;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.nav-link-container {
    text-align: right;
    padding-bottom: 0.7rem;
}

.nav-links {
    font-size: 1.1rem;
    padding-right: 1.5rem;
    color: var(--secondary);
    padding-bottom: 1rem;
    transition: ease 0.2s;
}

.nav-links:hover{
    font-weight: bolder;
    transition: ease 0.2s;
}

.container-center {
    margin:auto
}
.header {

    margin: 2rem 1rem 3rem;
}

.header-img {
    max-width: 90vw;
    max-height: 70vh;
}

.container {
    width: 1000px;
    max-width: 90vw;
    border-radius: 0.5rem;
    padding:0.1rem;
    padding-bottom: 2rem;
}

.container p {
    margin: 1rem 0.5rem 2rem;
}

.container-link {
    border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    color: black;
}

.primary-link {

    border-color: var(--primary);
    background-color: var(--secondary);
    transition: ease 0.2s;
}
.primary-link:hover{
    border-color: var(--secondary);
    transition: ease 0.2s;
}

.secondary-link {
    border-color: var(--secondary);
    transition: ease 0.2s;
}

.secondary-link:hover {
    background-color: var(--secondary);
    transition: ease 0.2s;
}

footer{
    background-color: var(--primary);
    margin: 1rem 1rem 0rem ;
    padding: 1rem;
    padding-top: 0.5rem;
    border-top-right-radius: 1rem;
    color: var(--secondary);
}

.footer h3 {
    margin-top: 0rem;
}

.container-footer-links {
    padding: 0.5rem;
}

.container-footer-links a {
    padding: 1rem 1rem;
}